.catalog-video {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.catalog-video__description {
  width: 266px;
  text-align: center;
  padding: 18px 26px 38px 26px;
}

.catalog-video__title {
  display: block;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 27px;
}

.catalog-video__text {
  margin: 0;
}

.catalog-video__video-link {
  position: relative;
}

.catalog-video__video-button {
  background-color: transparent;
  padding: 0;
  border: none;
  position: absolute;
  content: "";
  width: 48px;
  height: 54px;
  left: 116px;
  top: 62px;
  background-image: url("../img/stack.svg#video-triangle-icon");
  background-position: center;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.catalog-video__preview-image {
  display: block;
}

@media (min-width: $tablet-width) {
  .catalog-video {
    min-width: 648px;
    min-height: 687px;
  }

  .catalog-video__title {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 31px;
  }

  .catalog-video__description {
    width: 445px;
    text-align: center;
    padding: 64px 162px 84px 161px;
  }

  .catalog-video__video-button {
    left: 300px;
    top: 223px;
  }

  .catalog-video__preview-image {
    min-width: 648px;
    min-height: 500px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-video {
    min-width: 800px;
    min-height: 685px;
  }

  .catalog-video__description {
    padding: 60px 378px 88px 377px;
  }

  .catalog-video__video-button {
    left: 376px;
    top: 223px;
  }

  .catalog-video__preview-image {
    min-width: 800px;
    min-height: 500px;
  }
}
