.catalog-photos__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-photos__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 1px #e5e5e5;
  padding: 24px 20px 29px 20px;

  &--first-image {
    border-top: solid 1px #e5e5e5;
  }
}

.catalog-photos__item-photo-wrap {
  line-height: 0;
  margin-bottom: 16px;
}

.catalog-photos__item-photo {
  width: 100%;
  height: auto;
}

.catalog-photos__item-description-wrap {
  display: flex;
  flex-direction: column;
  align-self: start;
}

.catalog-photos__item-description {
  margin-bottom: 12px;
}

.catalog-photos__item-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  color: #000000;
}

.catalog-photos__item-text {
  text-transform: none;
  margin: 0;
}

.catalog-photos__item-likes {
  display: flex;
  align-items: end;
}

.catalog-photos__item-like-image {
  opacity: 0.3;
  width: 23px;
  height: 21px;
  margin-right: 14px;
}

.catalog-photos__item-like-amount {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 14px;
}

@media (min-width: $tablet-width) {
  .catalog-photos__list {
    display: grid;
    grid-template-columns: 324px 324px;
    justify-content: center;
  }

  .catalog-photos__item-description-wrap {
    background-color: #f2f2f2;
    max-height: 80px;
    min-height: 43px;
    padding: 22px 20px 15px 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    min-width: 284px;
  }

  .catalog-photos__item-description {
    margin-bottom: 0;
  }

  .catalog-photos__item-likes {
    padding-top: 8px;
  }

  .catalog-photos__item-like-image {
    margin-right: 8px;
  }

  .catalog-photos__item {
    border: none;
    padding: 0;

    &--standart-image {
      align-self: end;

      .catalog-photos__item-photo-wrap {
        max-height: 267px;
      }

      .catalog-photos__item-description-wrap {
        min-width: 284px;

        &--color {
          background-color: #eaeaea;
        }
      }
    }

    &--big-image {
      grid-column: 1/3;
      align-self: end;
      border-top: none;
      min-height: 480px;

      .catalog-photos__item-description-wrap {
        min-width: 608px;
      }
    }

    .catalog-photos__item-photo-wrap {
      height: auto;
      width: 100%;
      line-height: 0;
      margin-bottom: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog-photos__list {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    justify-content: center;
    overflow: hidden;
  }

  .catalog-photos__item-title {
    color: #ffffff;
    margin-bottom: 2px;

    &--desktop-position {
      display: block;
      margin-bottom: 4px;
    }
  }

  .catalog-photos__item-like-image {
    fill: #ffffff;
    opacity: 1;
  }

  // Свойства grid карточки фотографии
  .catalog-photos__item-photo-wrap {
    align-self: center;
    justify-self: center;
    grid-area: 1/1/2/2;
  }

  .catalog-photos__item-description-wrap {
    background-color: rgba($color: #000000, $alpha: 0.3);
    color: #ffffff;
    grid-area: 1/1/2/2;
    align-self: end;

    &--desktop-position {
      padding: 17px 20px 17px 25px;
      min-height: 46px;
    }
  }

  .catalog-photos__item-likes {
    padding-top: 5px;

    &--desktop-position {
      padding-top: 11px;
    }
  }

  .catalog-photos__item {
    display: grid;

    &--standart-image {
      display: grid;
      grid-template-columns: 400px;
      grid-template-rows: 267px;

      .catalog-photos__item-photo-wrap {
        align-self: center;
        justify-self: center;
        grid-area: 1/1/2/2;
      }

      .catalog-photos__item-description-wrap {
        grid-area: 1/1/2/2;
        align-self: end;

        &--color {
          background-color: rgba($color: #000000, $alpha: 0.3);
        }
      }
    }


    // Первая потофграфия
    &--big-image {
      grid-column: 1/4;
      display: grid;
      grid-template-columns: 1200px;
      grid-template-rows: 400px;
      min-height: 400px;

      .catalog-photos__item-photo-wrap {
        align-self: center;
        justify-self: center;
        grid-area: 1/1/2/2;
      }

      .catalog-photos__item-description-wrap {
        grid-area: 1/1/2/2;
        align-self: end;
      }
    }
  }
}
