.error-form-window--disable {
  display: none;
}

.error-form-window--enable {
  display: flex;
}

.error-form-window {
  width: 320px;
  min-height: 280px;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-color: #ffffff;
}

.error-form-window__text-wrap {
  width: 237px;
  min-height: 114px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 28px;
}

.error-form-window__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
}

.error-form-window__text {
  text-align: center;
  margin: 0;
}

.error-form-window__button {
  width: 180px;
  min-height: 58px;
  background-color: #81b3d2;
  border: none;

  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;

  margin-bottom: 35px;

  // Состояния кнопки "Ок"
  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

@media (min-width: $tablet-width) {
  .error-form-window {
    width: 400px;
    min-height: 347px;
  }

  .error-form-window__text-wrap {
    width: 307px;
    min-height: 157px;
    margin-bottom: 52px;
  }

  .error-form-window__title {
    font-size: 30px;
    line-height: 40px;
    white-space: pre-line;
  }

  .error-form-window__button {
    width: 272px;
    margin-bottom: 49px;
  }
}
