.feedback-form__introduce,
.feedback-form__contacts,
.feedback-form__impression,
.feedback-form__attractions,
.feedback-form__description {
  border: none;
  padding: 0;
  margin: 0;
}

.feedback-form__introduce-legend,
.feedback-form__contacts-legend,
.feedback-form__impression-legend,
.feedback-form__attractions-legend,
.feedback-form__description-label {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
}

.feedback-form__introduce-list,
.feedback-form__contacts-list,
.feedback-form__impression-list,
.feedback-form__attractions-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.feedback-form__introduce-input::placeholder {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.feedback-form__introduce-input,
.feedback-form__contacts-input,
.feedback-form__description-input {
  border: none;
  background-color: #f2f2f2;
}

.feedback-form__contacts-input::placeholder,
.feedback-form__description-input::placeholder {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
}

.feedback-form__description-input {
  min-width: 279px;
  min-height: 150px;
  padding: 16px;
  resize: none;
}

.feedback-form__impression-label,
.feedback-form__attractions-label {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: none;
}

.feedback-form__button {
  min-width: 280px;
  height: 58px;
  background-color: #81b3d2;
  border: none;

  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
}

.feedback-form__required-field-text {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
}

// Вид на планшете
@media (min-width: $tablet-width) {
  .feedback-form {
    display: grid;
    row-gap: 48px;
    grid-template-columns: 324px 324px;
    grid-template-rows: 338px 162px 189px 320px;
    justify-content: center;
  }

  .feedback-form__introduce {
    align-self: start;
    justify-self: center;
  }

  .feedback-form__contacts {
    align-self: start;
    justify-self: center;
  }

  .feedback-form__impression {
    width: 648px;
    grid-area: 2/1/3/3;
    display: grid;

    &-legend {
      margin: 0 auto;
    }

    &-list {
      display: grid;
      justify-self: center;
      align-self: center;
      grid-template-columns: 280px 280px;
      grid-template-rows: 48px 48px;
      gap: 16px;
    }
  }

  .feedback-form__attractions {
    width: 648px;
    grid-area: 3/1/4/3;
    align-self: center;
    justify-self: center;
    display: grid;

    &-legend {
      margin: 0 auto;
    }

    &-list {
      display: grid;
      justify-self: center;
      align-self: center;
      grid-template-columns: 240px 240px;
      grid-template-rows: 46px 46px;
      row-gap: 16px;
    }
  }

  .feedback-form__description {
    grid-area: 4/1/5/3;
    align-self: start;
    justify-self: center;
    display: grid;

    &-label {
      margin: 0 auto;
    }

    &-input {
      width: 616px;
      height: 128px;
    }
  }

  .feedback-form__button {
    grid-area: 4/1/5/2;
    align-self: end;
  }

  .feedback-form__required-field-text {
    grid-area: 4/2/5/3;
    align-self: end;
    justify-self: end;
  }
}

@media (min-width: $desktop-width) {
  .feedback-form {
    display: grid;
    row-gap: 56px;
    grid-template-columns: 494px 466px;
    grid-template-rows: 338px 134px 189px 320px;
    justify-content: center;
  }

  .feedback-form__impression {
    display: grid;
    width: 960px;

    &-list {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto;
      column-gap: 28px;
    }
  }

  .feedback-form__attractions {
    width: 960px;
    display: grid;

    &-list {
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-template-rows: 108px;
      column-gap: 64px;
      justify-content: center;
      align-items: center;
    }
  }

  .feedback-form__description-input {
    width: 736px;
    height: 128px;
  }

  .feedback-form__button {
    margin-left: 96px;
    width: 384px;
  }

  .feedback-form__required-field-text {
    margin-right: 96px;
  }
}
