.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 33px 82px;
}

.footer__hashtag-link {
  text-decoration: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

// Иконки социальных сетей
// Фон иконок
.socials-list__item-link {
  width: 48px;
  height: 48px;
  background-color: #81b3d2;

  // Иконка вКонтакте
  &--vkontakte::before {
    content: "";
    position: absolute;
    width: 48px;
    height: 48px;
    background-image: url("../img/stack.svg#vkontakte-icon");
    background-position: center;
    background-repeat: no-repeat;
  }

  //Иконка Телеграм
  &--telegram::before {
    content: "";
    position: absolute;
    width: 48px;
    height: 48px;
    background-image: url("../img/stack.svg#telegram-icon");
    background-position: center;
    background-repeat: no-repeat;
  }

  // Иконка ЮТуб
  &--youtube::before {
    content: "";
    position: absolute;
    width: 48px;
    height: 48px;
    background-image: url("../img/stack.svg#youtube-icon");
    background-position: center;
    background-repeat: no-repeat;
  }

  // Состояния иконок при наведении и нажатии
  // Фон иконок при наведении
  &:hover {
    background-color: #669ec0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  // Фон и иконка при нажатии
  &:active {
    background-color: #5496bd;
  }

  &--vkontakte:active::before,
  &--telegram:active::before,
  &--youtube:active::before {
    opacity: 0.3;
  }
}

// Состояние блока "Разработано" при наведении и нажатии
.footer-developer-information__link {
  color: #000000;

  &:hover {
    color: #81b3d2;
  }

  &:active {
    color: #b3b3b3;
  }
}

// Цвет родителя для текста логотипа разработчика
.footer-developer-information__text {
  color: currentColor;
}

@media (min-width: $tablet-width) {
  .footer {
    min-width: 642px;
    flex-direction: row;
    justify-content: space-between;
    padding: 36px 60px;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    min-width: 960px;
    padding: 36px 120px;
  }
}
