.footer-developer-information__link {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 129px;
  text-decoration: none;
}

.footer-developer-information__text {
  width: 89px;
  margin: 0;
  padding: 0;
  color: #000000;
}
