.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 33px 82px;

  &--index-position {
    padding-top: 42px;
  }

  &--form-position {
    padding-top: 56px;
  }
}

.footer__hashtag {
  margin-bottom: 30px;
}

.footer__hashtag-link {
  text-decoration: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .footer {
    min-width: 648px;
    flex-direction: row;
    justify-content: space-between;
    padding: 76px 0 36px 0;

    &--form-position {
      padding-top: 97px;
    }

    &--index-position {
      padding-top: 36px;
    }
  }

  .footer__hashtag {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    min-width: 960px;
    padding: 120px 120px 36px 120px;

    &--form-position {
      padding-top: 97px;
    }

    &--index-position {
      padding-top: 37px;
    }
  }
}
