.modal-window--disable {
  display: none;
}

.modal-window--enable {
  display: flex;
}

.modal-window {
  width: 320px;
  min-height: 280px;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-color: #ffffff;
}

.modal-window__text-wrap {
  width: 244px;
  min-height: 147px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-window__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.modal-window__text {
  text-align: center;
}

.modal-window__button-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  min-height: 98px;
  background-color: #f2f2f2;
}

.modal-window__button-wrap--form-error {
  background-color: transparent;
}

.modal-window__button {
  width: 280px;
  min-height: 58px;
  background-color: #81b3d2;
  border: none;
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;

  // Состояния кнопки "Закрыть окно"
  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

@media (min-width: $tablet-width) {
  .modal-window {
    width: 640px;
    min-height: 347px;
  }

  .modal-window__text-wrap {
    width: 444px;
    min-width: 110px;
  }

  .modal-window__title {
    font-size: 30px;
    line-height: 26px;
  }

  .modal-window__button-wrap {
    width: 640px;
    min-height: 146px;
  }

  .modal-window__button {
    width: 458px;
    min-height: 58px;
  }

  // Стилизация для модального окна ошибки
  .modal-window--form-error {
    width: 400px;
    min-height: 347px;
  }

  .modal-window__text-wrap--form-error {
    width: 307px;
    min-height: 157px;
  }

  .modal-window__title--form-error {
    text-align: center;
    font-size: 30px;
    line-height: 40px;
  }

  .modal-window__button--form-error {
    width: 272px;
    margin-bottom: 49px;
  }
}
