.modal-wrap__accepted-window {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;

  &--disable {
    display: none;
  }
}

.modal-wrap__error-window {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;

  &--disable {
    display: none;
  }
}

.modal-wrap__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 320px;
  margin: auto;
  background-color: #ffffff;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);

  &--accepted-window {
    min-height: 287px;
    padding-top: 36px;
  }

  &--error-window {
    min-height: 200px;
    padding: 45px 42px 35px 41px
  }
}

.modal-wrap__content-text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-bottom: 27px;

  &--accepted-window {
    width: 244px;
    min-height: 162px;
    margin-bottom: 35px;
  }

  &--error-window {
    width: 237px;
    min-height: 114px;
  }
}

.modal-wrap__content-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;

  &--accepted-window {
    padding-top: 10px;
    margin-bottom: 25px;
  }

  &--error-window {
    padding-top: 9px;
    margin-bottom: 25px;
  }
}

.modal-wrap__content-text {
  text-align: center;
  margin: 0;
}

// Перенос текста в мобильной версии
.modal-wrap__content-text span::after {
  content: "\A";
  white-space: pre;
}

.modal-wrap__content-button-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  min-height: 98px;
  background-color: #f2f2f2;

  &--error-window {
    width: auto;
    min-height: auto;
    background-color: transparent;
  }
}

.modal-wrap__content-button {
  width: 280px;
  min-height: 58px;
  background-color: #81b3d2;
  border: none;
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;

  &--accepted-window {
    font-size: 18px;
    padding-top: 7px;
  }

  &--error-window {
    width: 180px;
    font-size: 18px;
  }

  // Состояния кнопки "Закрыть окно"
  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

@media (min-width: $tablet-width) {
  .modal-wrap__content {
    width: 640px;
    min-height: 295px;
    padding-top: 52px;

    &--accepted-window {
      padding-top: 40px;
    }

    &--error-window {
      width: 307px;
      min-height: 244px;
      padding: 38px 47px 49px 46px;
    }
  }

  .modal-wrap__content-text-wrap {
    width: 444px;
    min-height: 120px;

    &--accepted-window {
      margin-bottom: 39px;
    }

    &--error-window {
      text-align: center;
      width: 307px;
      min-height: 188px;
      margin-bottom: 14px;
    }
  }

  .modal-wrap__content-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 29px;

    &--error-window {
      line-height: 40px;
      padding-top: 0;
      margin-bottom: 23px;
    }
  }

  // Перенос текста в планшетной версии
  .modal-wrap__content-title span::after {
    content: "\A";
    white-space: pre;
  }

  .modal-wrap__content-button-wrap {
    width: 640px;
    min-height: 146px;

    &--error-window {
      width: 400px;
      min-height: auto;
    }
  }

  .modal-wrap__content-button {
    width: 458px;

    &--accepted-window {
      font-size: 21px;
    }

    &--error-window {
      width: 272px;
    }
  }
}
