.page-intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.page-intro__text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 34px;

  &--form-position {
    padding-top: 37px;
  }
}

.page-intro__bold-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  margin: 0;
  margin-bottom: 35px;
  width: 284px;
  padding: 0 14px;

  &--form-position {
    margin-bottom: 25px;
  }
}

.page-intro__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
  width: 284px;
  padding: 0 14px;

  &--form-position {
    margin-bottom: 26px;
  }
}

// Декоративный угол (нижний)
.page-intro__text-decoration {
  width: 320px;
  height: 37px;
  background-image: url("../img/stack.svg#intro-triangle-text");
  background-repeat: no-repeat;
  background-color: #81b3d2;
  background-position: center bottom;
  background-size: 320px;
}

// Декоративный угол (верхний)
.page-intro__bottom-decoration {
  height: 57px;
  width: 320px;
  background-image: url("../img/stack.svg#intro-triangle");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 1200px;
}

// Перенос текста на мобильной версии
.page-intro__next-line-mobile::after {
  content: "\A";
  white-space: pre;
}

@media (min-width: $tablet-width) {

  // Декоративный угол (верхний)
  .page-intro__bottom-decoration {
    width: 768px;
    bottom: -133px;
  }

  // Декоративный угол (нижний)
  .page-intro__text-decoration {
    display: none;
  }

  .page-intro__text-wrap {
    padding-top: 48px;

    &--form-position {
      padding-top: 63px;
    }
  }

  .page-intro__bold-text {
    width: 492px;
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 30px;

    // Модификатор стиля на странице формы
    &--form-size {
      font-size: 30px;
      line-height: 26px;
    }

    &--form-position {
      margin-bottom: 21px;
    }
  }

  .page-intro__text {
    width: 492px;
    margin-bottom: 54px;

    &--form-position {
      margin-bottom: 108px;
    }
  }

  //Отключение переноса текста на мобильной версии
  .page-intro__next-line-mobile::after {
    display: none;
  }

  // Перенос текста на версии для планшета
  .page-intro__next-line-tablet::after {
    content: "\A";
    white-space: pre;
  }
}

@media (min-width: $desktop-width) {
  .page-intro__bottom-decoration {
    width: 1200px;
    bottom: -133px;
  }

  .page-intro__text-wrap {
    padding-top: 60px;

    &--form-position {
      padding-top: 114px;
    }
  }

  .page-intro__bold-text {
    &--form-position {
      margin-bottom: 32px;
    }
  }

  .page-intro__text {
    margin-bottom: 42px;

    &--form-position {
      margin-bottom: 68px;
    }
  }

}
