.page-advantages__list {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-advantages__item-with-photo {
  display: flex;
  flex-direction: column;

  &--reverse {
    flex-direction: column-reverse;
  }
}

.page-advantages__item-text-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #81b3d2;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  padding: 33px 18px 40px 18px;
}

.page-advantages__item-text {
  margin: 0;
}

.page-advantages__item-text:first-of-type {
  margin-bottom: 17px;
}

.page-advantages__item:nth-last-child(1) {
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 24px 18px 28px 18px;
}

.page-advantages__item-bold-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 11px;

  &--white-color {
    color: #ffffff;
  }
}

.page-advantages__sub-item-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.page-advantages__sub-item-text {
  br {
    display: none;
  }
}

.page-advantages__sub-list {
  list-style: none;
  margin: 0;
  margin-left: 46px;
  padding: 20px 18px 46px 18px;
}

// Иконки саблиста первого приемущества
.page-advantages__sub-item {
  position: relative;
  width: 237px;

  &--housing::before {
    position: absolute;
    left: -58px;
    content: "";
    width: 40px;
    height: 40px;
    background-image: url("../img/stack.svg#list-icon-house");
    background-repeat: no-repeat;
    background-size: 40px 40px;
  }

  &--hamburger::before {
    position: absolute;
    left: -58px;
    content: "";
    width: 40px;
    height: 40px;
    background-image: url("../img/stack.svg#list-icon-burger");
    background-repeat: no-repeat;
    background-size: 40px 40px;
  }

  &--box::before {
    position: absolute;
    left: -58px;
    content: "";
    width: 40px;
    height: 40px;
    background-image: url("../img/stack.svg#list-icon-gift-box");
    background-repeat: no-repeat;
    background-size: 40px 40px;
  }
}

.page-advantages__item-photo {
  display: block;
  width: auto;
  height: auto;
}

// Вид последних 3-х приемуществ
.page-advantages__more-about-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
}

.page-advantages__more-about-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 284px;
  padding: 26px 0;

  &:not(:last-child) {
    border-bottom: solid 1px #d6d6d6;
  }

  .page-advantages__item-text {
    width: 246px;
  }
}

// Вид на планшете
@media (min-width: $tablet-width) {
  .page-advantages__list {
    width: 768px;
  }

  .page-advantages__item-with-photo {
    flex-direction: row;
    grid-column: 1/4;
  }

  .page-advantages__item-text {
    width: 190px;
  }

  .page-advantages__item-text-wrap {

    padding: 52px 33px 31px 33px;
  }

  .page-advantages__item-bold-text {
    width: 128px;
  }

  // Сетка первого блока приемуществ
  .page-advantages__item:first-child {
    display: grid;
    grid-template-columns: 256px 256px 256px;

    .page-advantages__item-photo {
      height: 256px;
      grid-area: 1/2/4/4;
    }

    .page-advantages__sub-list {
      display: flex;
      justify-content: start;
      align-items: end;
      flex-wrap: wrap;
      grid-column: 1/4;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    .page-advantages__sub-item-title {
      font-weight: 700;
      font-size: 21px;
      line-height: 26px;
      padding-top: 104px;
    }
  }

  .page-advantages__sub-item {
    // min-height: ;
    width: 190px;
    min-height: 211px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 60px 33px;

    &--housing .page-advantages__sub-item-text {
      width: 194px;
      margin: 14px auto;
    }

    &--hamburger .page-advantages__sub-item-text {
      width: 156px;
      margin: 14px auto;
    }


    &--box .page-advantages__sub-item-text {
      width: 182px;
      margin: 14px auto;
    }

    // Позиционирование иконок саблиста на планшете
    &--housing::before {
      position: absolute;
      top: 58px;
      left: 86px;
      content: "";
      width: 77px;
      height: 72px;
      background-image: url("../img/stack.svg#list-icon-house");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 77px 72px;
    }

    &--hamburger::before {
      position: absolute;
      top: 68px;
      left: 86px;
      content: "";
      width: 80px;
      height: 68px;
      background-image: url("../img/stack.svg#list-icon-burger");
      background-repeat: no-repeat;
      background-size: 80px 68px;
    }

    &--box::before {
      position: absolute;
      top: 60px;
      left: 94px;
      content: "";
      width: 66px;
      height: 75px;
      background-image: url("../img/stack.svg#list-icon-gift-box");
      background-repeat: no-repeat;
      background-size: 66px 75px;
    }
  }

  // Сетка второго блока преимуществ
  .page-advantages__item:nth-of-type(2n) {
    display: grid;
    grid-template-columns: 512px 256px;
    grid-template-rows: minmax(256px, max-content);

    .page-advantages__item-text-wrap {
      grid-area: 1/2/1/3;
    }

    .page-advantages__item-photo:nth-child(2n) {
      grid-area: 1/1/2/2;
      height: 256px;
    }
  }

  // Сетка последних 3-х блоков приемуществ
  .page-advantages__item:nth-last-child(1) {
    padding: 0;
  }

  .page-advantages__more-about-list {
    width: 768px;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
  }

  .page-advantages__more-about-item:not(:last-child) {
    border-bottom: none;
  }

  .page-advantages__more-about-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 190px;
    min-height: 174px;
    border-bottom: none;
    padding: 41px 33px 63px 33px;
    justify-content: start;

    .page-advantages__item-text {
      width: 190px;
    }
  }

  .page-advantages__more-about-item .page-advantages__item-bold-text {
    font-size: 21px;
    line-height: 26px;
  }
}

// Вид на десктопе
@media (min-width: $desktop-width) {
  .page-advantages__list {
    width: 1200px;
  }

  .page-advantages__item-text-wrap {
    width: 300px;
    padding: 52px 50px 51px 50px;
  }

  // Сетка первого блока приемуществ
  .page-advantages__item:first-child {
    display: grid;
    grid-template-columns: 400px 400px 400px;

    .page-advantages__item-text {
      width: 300px;
    }

    .page-advantages__item-photo {

      height: 256px;
      grid-area: 1/2/4/4;
    }

    .page-advantages__sub-list {
      display: flex;
      justify-content: start;
      align-items: end;
      grid-column: 1/4;
    }
  }

  .page-advantages__item:first-child .page-advantages__sub-item-title {
    padding-top: 86px;
  }

  .page-advantages__sub-item {
    width: 300px;
    min-height: 182px;
    padding: 69px 50px;

    &--housing .page-advantages__sub-item-text {
      width: 300px;
      margin: 14px auto;
    }

    &--hamburger .page-advantages__sub-item-text {
      width: 300px;
      margin: 14px auto;
    }


    &--box .page-advantages__sub-item-text {
      width: 300px;
      margin: 14px auto;
    }

    // Позиционирование иконок саблиста на десктопе
    &--housing::before {
      position: absolute;
      top: 60px;
      left: 160px;
      content: "";
      width: 77px;
      height: 72px;
      background-image: url("../img/stack.svg#list-icon-house");
      background-repeat: no-repeat;
      background-size: 77px 72px;
    }

    &--hamburger::before {
      position: absolute;
      top: 70px;
      left: 160px;
      content: "";
      width: 80px;
      height: 68px;
      background-image: url("../img/stack.svg#list-icon-burger");
      background-repeat: no-repeat;
      background-size: 80px 68px;
    }

    &--box::before {
      position: absolute;
      top: 70px;
      left: 160px;
      content: "";
      width: 66px;
      height: 75px;
      background-image: url("../img/stack.svg#list-icon-gift-box");
      background-repeat: no-repeat;
      background-size: 66px 75px;
    }
  }

  // Сетка второго блока преимуществ
  .page-advantages__item:nth-of-type(2n) {
    display: grid;
    grid-template-columns: 800px 400px;
    grid-template-rows: minmax(256px, max-content);

    .page-advantages__item-text {
      width: 234px;
    }

    .page-advantages__item-text-wrap {
      grid-area: 1/2/1/3;
    }

    .page-advantages__item-photo:nth-child(2n) {
      grid-area: 1/1/2/2;
      height: 256px;
    }
  }

  // Сетка последних 3-х блоков приемуществ
  .page-advantages__more-about-list {
    width: 1200px;
    flex-direction: row;
    justify-content: start;
  }

  .page-advantages__more-about-item {
    width: 300px;
    padding: 52px 50px;

    .page-advantages__item-text {
      width: 300px;
    }

    &:nth-child(2n) .page-advantages__item-text {
      width: 276px;
    }
  }
}
