.page-header {
  display: flex;
  flex-direction: column;
}

.page-header-navigation {
  order: 1;
  width: 320px;
  position: relative;
}

// Позиционирование логотипа
.page-header__logo {
  order: 2;
  height: 56px;
  background-color: #ffffff;

  position: relative;
  display: flex;
  justify-content: center;
}

@media (min-width: $mobile-width) {
  .page-header {
    background-color: #ffffff;
    width: 320px;
  }

  // Если .page-header-navigation БЕЗ --nojs (используется JS), тогда список меню вне потока, перекрывая контент
  .page-header__menu-list {
    position: absolute;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #81b3d2;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  // Если .page-header-navigation--nojs (не использует JS), тогда список меню в потоке, не перекрывая контент
  .page-header-navigation--nojs .page-header__menu-list {
    position: relative;
  }

  // Кнопка меню мобильной версии
  .page-header__menu-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 56px;
    height: 56px;
    background-color: transparent;
    cursor: pointer;
    border: none;
  }

  // Кнопка "крестик" для закрытия меню (page-header-navigation--opened)
  // Крестик скрыт без JS
  .page-header-navigation--opened .page-header__menu-button::before {
    display: none;
    content: "";
    position: absolute;
    top: 15px;
    left: 17px;
    width: 22.2px;
    height: 22.2px;
    background-image: url("../img/stack.svg#cross-icon");
  }

  .page-header-navigation--opened .page-header__menu-button:hover::before {
    opacity: 0.6;
  }

  .page-header-navigation--opened .page-header__menu-button:active::before {
    opacity: 0.3;
  }

  // Кнопка "бурегер" для открытия меню
  .page-header-navigation--closed .page-header__menu-button {
    top: 0;
    right: 0;

    &::before {
      content: "";
      position: absolute;
      top: 16.9px;
      left: 16.55px;
      width: 22.9px;
      height: 22.2px;
      background-image: url("../img/stack.svg#burger-icon");
    }

    &:hover::before {
      opacity: 0.6;
    }

    &:active::before {
      opacity: 0.3;
    }
  }

  // Когда меню закрыто, все пункты меню спрятаны
  .page-header-navigation--closed .page-header__menu-list {
    display: none;
  }

  .page-header__menu-item {
    display: flex;
    min-width: 320px;
    justify-content: center;
    align-items: center;
    min-height: 55px;
    margin-bottom: 1px;
    box-shadow: 0 1px 0 #01010133, inset 0 1px 0 #ffffff33;

    // Убираем нижнюю декоративную полосу с последнего элемента списка
    &:last-child {
      box-shadow: 0 0 0 #01010133, inset 0 1px 0 #ffffff33;
      margin-bottom: 0;
    }

    // Градиент на нижний элемент меню
    &:last-child::after {
      position: absolute;
      bottom: 0;
      content: "";
      min-width: 320px;
      height: 7px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    }
  }

  // Состояния элементов меню, мобильная версия
  .page-header__menu-item--condition {

    // Наведение курсора на элемент меню
    &:hover {
      background-color: #669EC0;
    }

    // Нажатие курсора на элемент меню
    &:active {
      background-color: #5496BD;

      // Цвет текста элемента меню при нажатии
      & .page-header__menu-link {
        opacity: 0.3;
      }
    }
  }

  .page-header__menu-link {
    text-decoration: none;
    color: #ffffff;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
  }
}

// Вид на планшете
@media (min-width: $tablet-width) {

  // Отключение пнопки мобильного меню
  .page-header__menu-button {
    display: none;
  }

  // Перебиваем порядок отображения меню при --nojs на планшете
  .page-header-navigation--nojs .page-header__menu-list {
    position: static;
  }

  // Удаление нажнего градиента мобильного меню
  .page-header__menu-item:last-child::after {
    display: none;
  }

  .page-header {
    width: 768px;
  }

  .page-header__logo {
    position: absolute;
    left: 50%;
    margin-left: -92.5px;
  }

  .page-header-navigation {
    position: static;
    width: 768px;
  }

  .page-header__menu-list {
    position: static;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
    background-color: #ffffff;
    flex-wrap: wrap;
  }

  .page-header__menu-item {
    min-width: 153px;
    min-height: 56px;
    box-shadow: none;
  }

  // Отступ у второго элемента меню в планшетной версии
  .page-header__menu-item--indent {
    margin-right: 153px;
  }

  .page-header__menu-link {
    color: #000000;
    font-size: 14px;
    line-height: 21px;
    padding: 15px;
  }

  // Состояния элементов меню, версия для планшета
  .page-header__menu-item--condition {

    &:hover {
      background-color: #ffffff;

      & .page-header__menu-link {
        color: #81b3d2;
      }
    }

    // Состояние сслыки меню при нажатии
    &:active .page-header__menu-link {
      color: #000000;
      opacity: 0.3;
    }

    // Состояние ссылки меню активной страницы
    .page-header__menu-link--active {
      color: #766357;
    }
  }

  // Отключение кнопок меню мобильной версии на версии для планшета
  .page-header-navigation__burger-menu-label {
    display: none;
  }
}

// Вид на десктопе
@media (min-width: $desktop-width) {
  .page-header {
    width: 1200px;
  }

  .page-header-navigation {
    width: 1200px;
  }

  .page-header__menu-item {
    width: 240px;
    height: 56px;
    box-shadow: none;
  }

  // Отступ у второго элемента меню в десктопной версии
  .page-header__menu-item--indent {
    margin-right: 240px;
  }
}
