.page-header {}

.page-header__menu-list {
  background-color: #81b3d2;
  list-style: none;
}

.page-header__menu-link {
  text-decoration: none;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
