.section-main-booking {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-main-booking__button-wrap {
  width: 284px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 38px 18px 49px 18px;
}

.section-main-booking__button-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.section-main-booking__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 284px;
  height: 58px;
  background-color: #81b3d2;
}

.section-main-booking__button-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  color: #ffffff;
}

.section-main-booking-map {
  width: 320px;
  height: 350px;
  background-image: url("../../img/map-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

// Вид на планшете
@media (min-width: $tablet-width) {
  .section-main-booking {
    width: 768px;
  }

  .section-main-booking__button-wrap {
    width: 458px;
    padding: 60px 155px 55px 155px;
  }

  .section-main-booking__button-title {
    font-size: 30px;
    line-height: 26px;
  }

  .section-main-booking__button-description {
    white-space: pre;
    margin-bottom: 44px;
  }

  .section-main-booking__button {
    width: 458px;
  }

  .section-main-booking-map {
    width: 768px;
    height: 350px;
    background-image: url("../../img/map-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

// Вид на десктопе
@media (min-width: $desktop-width) {
  .section-main-booking {
    width: 1200px;
  }

  .section-main-booking__button-wrap {
    padding: 60px 371px 66px 371px;
  }

  .section-main-booking-map {
    width: 1200px;
    height: 350px;
    background-image: url("../../img/map-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
