.sent-form-window__title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.sent-form-window__button {
  min-width: 280px;
  height: 58px;
  background-color: #81b3d2;
  border: none;

  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
}
