.welcome-images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  width: 320px;
  background-color: rgba(222, 239, 255, 0.72);
  background-image: url("../img/rocks-intro-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% bottom;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/rocks-intro-background-mobile@2x.jpg");
    background-size: cover;
  }
}

.welcome-images--sedona-only-position {
  min-height: 158px;
}

.welcome-images__list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

// Отступы и минимальная высота блока изображений при 3-х блоках внутри на смартфоне
.welcome-images__list--standart-position {
  min-height: 214px;
  padding: 90px 0 28px 0;
}

// Отступы блока изображений при 1-м блоке внутри на смартфоне
.welcome-images__list--sedona-only-position {
  padding-top: 52px;
}

// Изображение "Welcome to the gorgeus"
.welcome-images__welcome-image {
  content: url("../img/stack.svg#welcome-icon");
  width: 157px;
  height: 52px;
  margin-bottom: 31.38px;
}

// Изображение "SEDONA"
.welcome-images__sedona-image {
  content: url("../img/stack.svg#sedona-icon");
  width: 282px;
  height: 48.8px;
  margin-bottom: 33.64px;
}

// Изображение только Седона
.welcome-images__sedona-only-image {
  content: url("../img/stack.svg#sedona-only-icon");
  width: 282px;
  height: 48.8px;
  margin-bottom: 33.64px;

  // Размер только Седона в каталоге
  &--catalog-size {
    width: 229px;
    height: 39px;
    margin-bottom: 10px;
  }
}

// Размеры изображения, только Седона
.welcome-images__sedona-image--sedona-only-position {
  width: 229px;
  height: 39px;
  margin: 0;
}

// Изображение "BECAUSE THE GRAND CANYON SUCKS!"
.welcome-images__quote-image {
  content: url("../img/stack.svg#because-the-grand-canyon-sucks-icon");
  width: 180.31px;
  height: 48.47px;
  align-self: start;
  padding-left: 45px;
}

// Вид на планшете
@media (min-width: $tablet-width) {
  .welcome-images {
    width: 768px;
    background-color: rgba(222, 239, 255, 0.72);
    background-image: url("../img/rocks-intro-background-tablet.jpg.jpg");
    background-repeat: no-repeat;
    background-position: 50% bottom;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/rocks-intro-background-tablet@2x.jpg");
      background-size: cover;
    }
  }

  .welcome-images--sedona-only-position {
    min-height: 290px;
  }

  // Отступы и минимальная высота блока изображений при 3-х блоках внутри на планшете
  .welcome-images__list--standart-position {
    min-height: 350px;
    padding: 77px 0 34px 0;
  }

  // Отступы блока изображений при 1-м блок внутри на планшете
  .welcome-images__list--sedona-only-position {
    padding-top: 95px;
  }

  // Изображение "Welcome to the gorgeus"
  .welcome-images__welcome-image {
    width: 257px;
    height: 85px;
    margin-bottom: 49px;
  }

  // Изображение "SEDONA"
  .welcome-images__sedona-image {
    width: 461px;
    height: 80px;
    margin-bottom: 55px;
  }


  .welcome-images__sedona-only-image {

    &--catalog-size {
      width: 456.9px;
      height: 77.6px;
      margin-bottom: 58px;
    }
  }


  .welcome-images__sedona-image--sedona-only-position {
    width: 457px;
    height: 77.6px;
  }

  // Изображение "BECAUSE THE GRAND CANYON SUCKS!"
  .welcome-images__quote-image {
    width: 295px;
    height: 80px;
    padding-left: 73px;
  }
}

@media (min-width: $desktop-width) {
  .welcome-images {
    width: 1200px;
    background-color: rgba(222, 239, 255, 0.72);
    background-image: url("../img/rocks-intro-background-desktop.jpg.jpg");
    background-repeat: no-repeat;
    background-position: 50% bottom;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/rocks-intro-background-desktop@2x.jpg");
      background-size: 1200px auto;
    }
  }

  // Отступы блока изображений при 3-х блоках внутри на десктопе
  .welcome-images__list--standart-position {
    padding: 78px 0 33px 0;
  }

  // Отступы блока изображений при 1-м блок внутри на десктопе
  .welcome-images__list--sedona-only-position {
    padding: 101px 0 63px 0;
  }

  .welcome-images__sedona-image--sedona-only-position {
    width: 459.5px;
    height: 79.8px;
  }

  .welcome-images__sedona-only-image {

    &--catalog-size {
      margin-bottom: 0;
    }
  }
}
