.welcome-images {
  min-width: 320px;
  min-height: 389px;
  background-image: url("../../img/rocks-intro-background.jpg");
  background-color: rgba(222, 239, 255, 0.721);
  background-repeat: no-repeat;

  padding: 90px 19px 85px 19px;

}
