@font-face {
  font-family: "PT Sans";
  src: url("../../fonts/ptsans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url("../../fonts/ptsansbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header-navigation {
  position: relative;
  min-width: 320px;
}

.page-header__logo {
  position: absolute;
  left: 50%;
  margin-left: -92.5px;
}

.page-header__logo-image {
  height: 96px;
}

@media (min-width: 320px) {
  .page-header-navigation:focus-within .burger-icon {
    outline: solid 1px #000000;
  }

  .page-header {
    background-color: #ffffff;
    width: 320px;
    height: 56px;
  }

  .page-header-navigation__burger-menu-label {
    width: 60px;
    height: 56px;
    position: absolute;
    right: 0;
    z-index: 1;
  }

  .burger-icon {
    position: absolute;
    right: 0;
    padding: 17px 20px;
  }

  .burger-icon:hover {
    opacity: 0.6;
  }

  .burger-icon:active {
    opacity: 0.3;
  }

  .page-header-navigation__burger-menu-checkbox:checked ~ .page-header-navigation__burger-menu-label .burger-icon {
    display: none;
  }

  .page-header-navigation__burger-menu-checkbox:checked ~ .page-header-navigation__burger-menu-label::before {
    position: absolute;
    top: 0;
    right: 0;
    content: url("../../img/burger-cross-icon.svg");
    width: 22.2px;
    height: 22.2px;
    padding: 17px 20px;
  }

  .page-header-navigation__burger-menu-checkbox:checked ~ .page-header-navigation__burger-menu-label:hover {
    opacity: 0.6;
  }

  .page-header-navigation__burger-menu-checkbox:checked ~ .page-header-navigation__burger-menu-label:active {
    opacity: 0.3;
  }

  .page-header-navigation__burger-menu-checkbox:checked ~ .page-header__menu-list {
    display: flex;
  }

  .page-header__menu-list {
    position: absolute;
    left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #81b3d2;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .page-header__menu-item {
    display: flex;
    min-width: 320px;
    justify-content: center;
    align-items: center;
    height: 55px;
    margin-bottom: 1px;
    box-shadow: 0 1px 0 #01010133, inset 0 1px 0 #ffffff33;
  }

  .page-header__menu-item:last-child::after {
    position: absolute;
    bottom: 0;
    content: "";
    min-width: 320px;
    height: 7px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  }

  .page-header__menu-link {
    text-decoration: none;
    color: #ffffff;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
  }
}
@media (min-width: 768px) {
  .page-header__menu-item:last-child::after {
    display: none;
  }

  .page-header-navigation {
    position: static;
  }

  .page-header__menu-list {
    position: static;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: #ffffff;
  }

  .page-header__menu-item {
    min-width: 153px;
    height: 56px;
    box-shadow: none;
  }

  .page-header__menu-item:nth-child(2) {
    margin-right: 153px;
  }

  .page-header__menu-link {
    color: #000000;
    font-size: 14px;
    line-height: 21px;
    padding: 15px;
  }

  .page-header__menu-link:hover {
    color: #81b3d2;
  }

  .page-header__menu-link:active {
    color: #000000;
    opacity: 0.3;
  }

  .page-header__menu-link--active {
    color: #766357;
  }

  .page-header-navigation__burger-menu-label {
    display: none;
  }
}
@media (min-width: 1200px) {
  .page-header__menu-item {
    width: 240px;
    height: 56px;
    box-shadow: none;
  }

  .page-header__menu-item:nth-child(2) {
    margin-right: 240px;
  }
}
.welcome-images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  width: 320px;
  background-image: url("../../img/rocks-intro-background.jpg");
  background-color: rgba(222, 239, 255, 0.72);
  background-repeat: no-repeat;
}

.welcome-images__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.welcome-images__list--standart-position {
  min-height: 214px;
  padding: 90px 0 28px 0;
}

.welcome-images__list--sedona-only-position {
  padding: 52px 0 10px 0;
}

.welcome-images__welcome-image {
  content: url("../../img/welcome-icon.svg");
  width: 157px;
  height: 52px;
}

.welcome-images__sedona-image {
  content: url("../../img/sedona-icon.svg");
  width: 282px;
  height: 49px;
}

.welcome-images__quote-image {
  content: url("../../img/because-the-grand-canyon-sucks-icon.svg");
  width: 173px;
  height: 46px;
}

@media (min-width: 768px) {
  .welcome-images {
    width: 768px;
    background-position: center;
  }

  .welcome-images__list--standart-position {
    min-height: 350px;
    padding: 77px 0 34px 0;
  }

  .welcome-images__list--sedona-only-position {
    padding: 95px 0 60px 0;
  }

  .welcome-images__welcome-image {
    width: 257px;
    height: 85px;
  }

  .welcome-images__sedona-image {
    width: 461px;
    height: 80px;
  }

  .welcome-images__quote-image {
    width: 295px;
    height: 80px;
  }
}
@media (min-width: 1200px) {
  .welcome-images {
    min-width: 1200px;
  }

  .welcome-images__list--standart-position {
    padding: 78px 0 33px 0;
  }

  .welcome-images__list--sedona-only-position {
    padding: 101px 0 63px 0;
  }
}
.page-advantages__list {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-advantages__item-text-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #81b3d2;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  padding: 33px 18px 40px 18px;
}

.page-advantages__item-text {
  margin: 0;
}

.page-advantages__item-text:first-of-type {
  margin-bottom: 17px;
}

.page-advantages__item:nth-last-child(1) {
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 24px 18px 28px 18px;
}

.page-advantages__item-bold-text {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 11px;
}

.page-advantages__item:nth-child(-n+2) .page-advantages__item-bold-text {
  color: #ffffff;
}

.page-advantages__sub-item-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.page-advantages__sub-item-text br {
  display: none;
}

.page-advantages__sub-list {
  list-style: none;
  margin: 0;
  margin-left: 46px;
  padding: 20px 18px 46px 18px;
}

.page-advantages__sub-item {
  position: relative;
  width: 237px;
}
.page-advantages__sub-item:first-child::before {
  position: absolute;
  left: -58px;
  content: "";
  width: 40px;
  height: 40px;
  background-image: url("../../img/list-icon-house.svg");
  background-repeat: no-repeat;
  background-size: 40px 40px;
}
.page-advantages__sub-item:nth-child(2)::before {
  position: absolute;
  left: -58px;
  content: "";
  width: 40px;
  height: 40px;
  background-image: url("../../img/list-icon-burger.svg");
  background-repeat: no-repeat;
  background-size: 40px 40px;
}
.page-advantages__sub-item:nth-child(3)::before {
  position: absolute;
  left: -58px;
  content: "";
  width: 40px;
  height: 40px;
  background-image: url("../../img/list-icon-gift-box.svg");
  background-repeat: no-repeat;
  background-size: 40px 40px;
}

.page-advantages__item-photo {
  display: block;
}

.page-advantages__more-about-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
}

.page-advantages__more-about-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 284px;
  padding: 26px 0;
}
.page-advantages__more-about-item:not(:last-child) {
  border-bottom: solid 1px #d6d6d6;
}
.page-advantages__more-about-item .page-advantages__item-text {
  width: 246px;
}

@media (min-width: 768px) {
  .page-advantages__list {
    width: 768px;
  }

  .page-advantages__item-text {
    width: 190px;
  }

  .page-advantages__item-text-wrap {
    padding: 52px 33px 31px 33px;
  }

  .page-advantages__item-bold-text {
    width: 128px;
  }

  .page-advantages__sub-item {
    width: 256px;
  }

  .page-advantages__item:first-child {
    display: grid;
    grid-template-columns: 256px 256px 256px;
    grid-template-rows: 256px 331px;
  }
  .page-advantages__item:first-child .page-advantages__item-photo {
    height: 256px;
    grid-area: 1/2/4/4;
  }
  .page-advantages__item:first-child .page-advantages__sub-list {
    display: flex;
    justify-content: space-around;
    align-items: end;
    grid-area: 2/1/3/4;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-bottom: 60px;
  }
  .page-advantages__item:first-child .page-advantages__sub-item-title {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
  }
  .page-advantages__item:first-child .page-advantages__sub-item:nth-child(1) .page-advantages__sub-item-text {
    width: 194px;
    margin: 14px auto;
  }
  .page-advantages__item:first-child .page-advantages__sub-item:nth-child(2) .page-advantages__sub-item-text {
    width: 156px;
    margin: 14px auto;
  }
  .page-advantages__item:first-child .page-advantages__sub-item:nth-child(3) .page-advantages__sub-item-text {
    width: 182px;
    margin: 14px auto;
  }
  .page-advantages__item:first-child .page-advantages__sub-item:first-child::before {
    position: absolute;
    top: -82px;
    left: 86px;
    content: "";
    width: 77px;
    height: 72px;
    background-image: url("../../img/list-icon-house.svg");
    background-repeat: no-repeat;
    background-size: 77px 72px;
  }
  .page-advantages__item:first-child .page-advantages__sub-item:nth-child(2)::before {
    position: absolute;
    top: -82px;
    left: 86px;
    content: "";
    width: 80px;
    height: 68px;
    background-image: url("../../img/list-icon-burger.svg");
    background-repeat: no-repeat;
    background-size: 80px 68px;
  }
  .page-advantages__item:first-child .page-advantages__sub-item:nth-child(3)::before {
    position: absolute;
    top: -84px;
    left: 86px;
    content: "";
    width: 66px;
    height: 75px;
    background-image: url("../../img/list-icon-gift-box.svg");
    background-repeat: no-repeat;
    background-size: 66px 75px;
  }

  .page-advantages__item:nth-of-type(2) {
    display: grid;
    grid-template-columns: 512px 256px;
    grid-template-rows: 256px;
  }
  .page-advantages__item:nth-of-type(2) .page-advantages__item-text-wrap {
    grid-area: 1/2/1/3;
  }
  .page-advantages__item:nth-of-type(2) .page-advantages__item-photo:nth-child(2) {
    grid-area: 1/1/2/2;
    height: 256px;
  }

  .page-advantages__item:nth-last-child(1) {
    padding: 0;
  }

  .page-advantages__more-about-list {
    width: 768px;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  .page-advantages__more-about-list .page-advantages__more-about-item {
    border-bottom: none;
    padding: 41px 33px 63px 33px;
  }

  .page-advantages__more-about-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .page-advantages__more-about-item .page-advantages__item-text {
    width: 190px;
  }
  .page-advantages__more-about-item:nth-child(2) .page-advantages__item-text {
    width: 175px;
  }

  .page-advantages__more-about-item .page-advantages__item-bold-text {
    font-size: 21px;
    line-height: 26px;
  }
}
@media (min-width: 1200px) {
  .page-advantages__list {
    width: 1200px;
  }

  .page-advantages__item-text-wrap {
    padding: 52px 50px 51px 50px;
  }

  .page-advantages__sub-item {
    width: 400px;
  }

  .page-advantages__item:first-child {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 256px 330px;
  }
  .page-advantages__item:first-child .page-advantages__item-text {
    width: 290px;
  }
  .page-advantages__item:first-child .page-advantages__item-photo {
    height: 256px;
    grid-area: 1/2/4/4;
  }
  .page-advantages__item:first-child .page-advantages__sub-list {
    display: flex;
    justify-content: space-around;
    align-items: end;
    grid-area: 2/1/3/4;
  }
  .page-advantages__item:first-child .page-advantages__sub-item:nth-child(1) .page-advantages__sub-item-text {
    width: 300px;
    margin: 14px auto;
  }
  .page-advantages__item:first-child .page-advantages__sub-item:nth-child(2) .page-advantages__sub-item-text {
    width: 300px;
    margin: 14px auto;
  }
  .page-advantages__item:first-child .page-advantages__sub-item:nth-child(3) .page-advantages__sub-item-text {
    width: 300px;
    margin: 14px auto;
  }
  .page-advantages__item:first-child .page-advantages__sub-item:nth-child(3) .page-advantages__sub-item-text br {
    display: block;
  }
  .page-advantages__item:first-child .page-advantages__sub-item:first-child::before {
    position: absolute;
    top: -82px;
    left: 160px;
    content: "";
    width: 77px;
    height: 72px;
    background-image: url("../../img/list-icon-house.svg");
    background-repeat: no-repeat;
    background-size: 77px 72px;
  }
  .page-advantages__item:first-child .page-advantages__sub-item:nth-child(2)::before {
    position: absolute;
    top: -82px;
    left: 160px;
    content: "";
    width: 80px;
    height: 68px;
    background-image: url("../../img/list-icon-burger.svg");
    background-repeat: no-repeat;
    background-size: 80px 68px;
  }
  .page-advantages__item:first-child .page-advantages__sub-item:nth-child(3)::before {
    position: absolute;
    top: -84px;
    left: 160px;
    content: "";
    width: 66px;
    height: 75px;
    background-image: url("../../img/list-icon-gift-box.svg");
    background-repeat: no-repeat;
    background-size: 66px 75px;
  }

  .page-advantages__item:nth-of-type(2) {
    display: grid;
    grid-template-columns: 800px 400px;
    grid-template-rows: 256px;
  }
  .page-advantages__item:nth-of-type(2) .page-advantages__item-text {
    width: 234px;
  }
  .page-advantages__item:nth-of-type(2) .page-advantages__item-text-wrap {
    grid-area: 1/2/1/3;
  }
  .page-advantages__item:nth-of-type(2) .page-advantages__item-photo:nth-child(2) {
    grid-area: 1/1/2/2;
    height: 256px;
  }

  .page-advantages__more-about-list {
    width: 1200px;
    flex-direction: row;
    justify-content: space-between;
  }

  .page-advantages__more-about-item {
    padding: 52px 50px;
  }
  .page-advantages__more-about-item .page-advantages__item-text {
    width: 300px;
  }
  .page-advantages__more-about-item:nth-child(2) .page-advantages__item-text {
    width: 276px;
  }
}
.section-main-booking {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-main-booking__button-wrap {
  width: 284px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 38px 18px 49px 18px;
}

.section-main-booking__button-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.section-main-booking__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 284px;
  height: 58px;
  background-color: #81b3d2;
}

.section-main-booking__button-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  color: #ffffff;
}

.section-main-booking-map {
  width: 320px;
  height: 350px;
  background-image: url("../../img/map-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
  .section-main-booking {
    width: 768px;
  }

  .section-main-booking__button-wrap {
    width: 458px;
    padding: 60px 155px 55px 155px;
  }

  .section-main-booking__button-title {
    font-size: 30px;
    line-height: 26px;
  }

  .section-main-booking__button-description {
    white-space: pre;
    margin-bottom: 44px;
  }

  .section-main-booking__button {
    width: 458px;
  }

  .section-main-booking-map {
    width: 768px;
    height: 350px;
    background-image: url("../../img/map-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media (min-width: 1200px) {
  .section-main-booking {
    width: 1200px;
  }

  .section-main-booking__button-wrap {
    padding: 60px 371px 66px 371px;
  }

  .section-main-booking-map {
    width: 1200px;
    height: 350px;
    background-image: url("../../img/map-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
.footer-developer-information__link {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  width: 129px;
}

.footer-developer-information__text {
  width: 89px;
  margin: 0;
  padding: 0;
  color: #000000;
  margin-right: 12px;
}

.page-intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.page-intro__text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-intro__bold-text {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  margin: 0;
  margin-top: 39px;
  margin-bottom: 35px;
  width: 257px;
  padding: 0 14px;
}

.page-intro__text {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  margin: 0;
  margin-bottom: 32px;
  width: 284px;
  padding: 0 14px;
}

.page-intro__text-decoration {
  width: 320px;
  height: 37px;
  background-image: url("../../img/intro-triangle-text.svg");
  background-repeat: no-repeat;
  background-color: #81b3d2;
  background-position: center bottom;
}

.page-intro__bottom-decoration {
  height: 57px;
  width: 320px;
  background-image: url("../../img/intro-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
  .page-intro__bottom-decoration {
    width: 768px;
    bottom: -133px;
  }

  .page-intro__text-decoration {
    display: none;
  }

  .page-intro__bold-text {
    width: 492px;
    font-size: 21px;
    line-height: 26px;
  }

  .page-intro__bold-text--form-size {
    font-size: 30px;
    line-height: 26px;
  }

  .page-intro__text {
    width: 492px;
  }
}
@media (min-width: 1200px) {
  .page-intro__bottom-decoration {
    width: 1200px;
    bottom: -133px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 33px 82px;
}

.footer__hashtag-link {
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.footer-developer-information__link:hover .footer-developer-information__text {
  color: #81b3d2;
}
.footer-developer-information__link:hover .footer-developer-information__logo-fill {
  fill: #81b3d2;
}
.footer-developer-information__link:active .footer-developer-information__text {
  color: #b3b3b3;
}
.footer-developer-information__link:active .footer-developer-information__logo-fill {
  fill: #b3b3b3;
}

@media (min-width: 768px) {
  .footer {
    min-width: 642px;
    flex-direction: row;
    justify-content: space-between;
    padding: 36px 60px;
  }
}
@media (min-width: 1200px) {
  .footer {
    min-width: 960px;
    padding: 36px 120px;
  }
}
.socials-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 156px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.socials-list__item-link {
  display: block;
  width: 48px;
  height: 48px;
}

.footer__hashtag {
  margin-bottom: 30px;
}

.socials-list__item-image:hover .socials-list__item-image-background {
  fill: #669ec0;
}

.socials-list__item-image:active .socials-list__item-image-background {
  fill: #5496bd;
}
.socials-list__item-image:active .socials-list__item-image-icon {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .socials-list {
    margin: 0;
  }

  .footer__hashtag {
    margin: 0;
  }
}
.catalog-photos__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-photos__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 1px #e5e5e5;
  padding: 24px 18px 25px 18px;
}
.catalog-photos__item:first-child {
  border-top: solid 1px #e5e5e5;
}

.catalog-photos__item-description-wrap {
  display: flex;
  flex-direction: column;
  align-self: start;
}

.catalog-photos__item-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  color: #000000;
}

.catalog-photos__item-text {
  text-transform: none;
  margin: 0;
}

.catalog-photos__item-likes {
  display: flex;
  align-items: end;
}

.catalog-photos__item-like-image {
  margin-right: 14px;
}

.catalog-photos__item-like-amount {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 14px;
}

@media (min-width: 768px) {
  .catalog-photos__list {
    display: grid;
    grid-template-columns: 324px 324px;
    grid-template-rows: 480px 347px 347px;
    justify-content: center;
  }

  .catalog-photos__item-description-wrap {
    background-color: #f2f2f2;
    max-height: 40px;
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .catalog-photos__item {
    border: none;
    padding: 0;
  }
  .catalog-photos__item:nth-child(1) {
    grid-area: 1/1/1/3;
    align-self: end;
  }
  .catalog-photos__item:nth-child(1) .catalog-photos__item-description-wrap {
    min-width: 608px;
  }
  .catalog-photos__item:nth-child(2) {
    grid-area: 2/1/3/2;
    align-self: end;
  }
  .catalog-photos__item:nth-child(2) .catalog-photos__item-photo {
    max-height: 267px;
  }
  .catalog-photos__item:nth-child(2) .catalog-photos__item-description-wrap {
    min-width: 284px;
  }
  .catalog-photos__item:nth-child(3) {
    grid-area: 2/2/3/3;
    align-self: end;
  }
  .catalog-photos__item:nth-child(3) .catalog-photos__item-photo {
    max-height: 267px;
  }
  .catalog-photos__item:nth-child(3) .catalog-photos__item-description-wrap {
    min-width: 284px;
  }
  .catalog-photos__item:nth-child(4) {
    grid-area: 3/1/4/2;
    align-self: end;
  }
  .catalog-photos__item:nth-child(4) .catalog-photos__item-photo {
    max-height: 267px;
  }
  .catalog-photos__item:nth-child(4) .catalog-photos__item-description-wrap {
    min-width: 284px;
  }
}
@media (min-width: 1200px) {
  .catalog-photos__list {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 400px 267px;
    justify-content: center;
  }

  .catalog-photos__item-description-wrap {
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
  }

  .catalog-photos__item-title {
    color: #ffffff;
  }

  .catalog-photos__item-like-image-path {
    fill: #ffffff;
    opacity: 1;
  }

  .catalog-photos__item:nth-child(1) {
    grid-area: 1/1/2/4;
    display: grid;
    grid-template-columns: 1200px;
    grid-template-rows: 400px;
  }
  .catalog-photos__item:nth-child(1) .catalog-photos__item-photo {
    align-self: center;
    justify-self: center;
    grid-area: 1/1/2/2;
  }
  .catalog-photos__item:nth-child(1) .catalog-photos__item-description-wrap {
    grid-area: 1/1/2/2;
    align-self: end;
  }
  .catalog-photos__item:nth-child(2) {
    grid-area: 2/1/3/2;
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 267px;
  }
  .catalog-photos__item:nth-child(2) .catalog-photos__item-photo {
    align-self: center;
    justify-self: center;
    grid-area: 1/1/2/2;
  }
  .catalog-photos__item:nth-child(2) .catalog-photos__item-description-wrap {
    grid-area: 1/1/2/2;
    align-self: end;
  }
  .catalog-photos__item:nth-child(3) {
    grid-area: 2/2/3/3;
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 267px;
  }
  .catalog-photos__item:nth-child(3) .catalog-photos__item-photo {
    align-self: center;
    justify-self: center;
    grid-area: 1/1/2/2;
  }
  .catalog-photos__item:nth-child(3) .catalog-photos__item-description-wrap {
    grid-area: 1/1/2/2;
    align-self: end;
  }
  .catalog-photos__item:nth-child(4) {
    grid-area: 2/3/3/4;
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 267px;
  }
  .catalog-photos__item:nth-child(4) .catalog-photos__item-photo {
    align-self: center;
    justify-self: center;
    grid-area: 1/1/2/2;
  }
  .catalog-photos__item:nth-child(4) .catalog-photos__item-description-wrap {
    grid-area: 1/1/2/2;
    align-self: end;
  }
}
.catalog-video {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.catalog-video__description {
  width: 266px;
  text-align: center;
  padding: 17px 26px 38px 26px;
}

.catalog-video__title {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 38px;
}

.catalog-video__text {
  margin: 0;
}

.catalog-video__video-link {
  position: relative;
}

.catalog-video__video-link::before {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -24px;
  margin-top: -27px;
  content: url("../../img/video-triangle-icon.svg");
  width: 48px;
  height: 54px;
}

.catalog-video__preview-image {
  display: block;
}

@media (min-width: 768px) {
  .catalog-video {
    min-width: 648px;
    min-height: 687px;
  }

  .catalog-video__title {
    font-size: 30px;
    line-height: 26px;
  }

  .catalog-video__description {
    width: 445px;
    text-align: center;
    padding: 57px 162px 66px 161px;
  }

  .catalog-video__preview-image {
    min-width: 648px;
    min-height: 500px;
  }
}
@media (min-width: 1200px) {
  .catalog-video {
    min-width: 800px;
    min-height: 685px;
  }

  .catalog-video__description {
    padding: 62px 378px 64px 377px;
  }

  .catalog-video__preview-image {
    min-width: 800px;
    min-height: 500px;
  }
}
.form-section {
  display: flex;
  justify-content: center;
}

.feedback-form {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback-form > fieldset {
  border-top: solid 1px #e5e5e5;
}

.feedback-form__introduce {
  border: none;
  padding: 20px;
  position: relative;
}

.feedback-form__introduce-legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  display: block;
  padding: 0;
}

.feedback-form__introduce-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.feedback-form__introduce-label {
  padding-left: 16px;
}

.feedback-form__introduce-input::placeholder {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.feedback-form__introduce-input {
  border: none;
  background-color: #f2f2f2;
  width: 248px;
  height: 26px;
  padding: 16px;
}

.feedback-form__contacts {
  border: none;
  padding: 20px;
  position: relative;
}

.feedback-form__contacts-legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  display: block;
}

.feedback-form__contacts-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.feedback-form__contacts-item:nth-child(1)::after {
  position: absolute;
  right: 20px;
  content: "";
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  background-image: url("../../img/phone-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.feedback-form__contacts-item:nth-child(2)::after {
  position: absolute;
  right: 20px;
  content: "";
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  background-image: url("../../img/mail-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.feedback-form__contacts-label {
  padding-left: 16px;
}

.feedback-form__contacts-input {
  border: none;
  background-color: #f2f2f2;
  width: 248px;
  height: 26px;
  padding: 16px;
  position: relative;
}

.feedback-form__contacts-input::placeholder {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
}

.feedback-form__impression {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: start;
  border: none;
  padding: 20px;
  position: relative;
  margin: 0;
}

.feedback-form__impression-legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  display: block;
  align-self: center;
}

.feedback-form__impression-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.feedback-form__impression-item:not(:last-child) {
  margin-bottom: 16px;
}

.feedback-form__impression-item:focus-within {
  outline: solid 1px #000000;
}

.feedback-form__impression-label {
  display: flex;
  align-items: center;
  min-height: 46px;
  width: 218px;
  padding-left: 62px;
  position: relative;
  line-height: 26px;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  text-transform: none;
}

.feedback-form__impression-label::before {
  position: absolute;
  left: 0;
  content: "";
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.feedback-form__impression-input:checked ~ .feedback-form__impression-label::after {
  position: absolute;
  left: 15px;
  content: "";
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
}

.feedback-form__attractions {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: start;
  border: none;
  padding: 20px;
  position: relative;
  margin: 0;
}

.feedback-form__attractions-legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  display: block;
  align-self: center;
}

.feedback-form__attractions-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.feedback-form__attractions-item:not(:last-child) {
  margin-bottom: 16px;
}

.feedback-form__attractions-item:focus-within {
  outline: solid 1px #000000;
}

.feedback-form__attractions-label {
  display: flex;
  align-items: center;
  min-height: 46px;
  padding-left: 62px;
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: none;
}

.feedback-form__attractions-label::before {
  position: absolute;
  left: 0;
  content: "";
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.feedback-form__attractions-input:checked ~ .feedback-form__attractions-label::after {
  position: absolute;
  left: 13px;
  content: url("../../img/tick.svg");
  width: 22px;
  height: 16px;
}

.feedback-form__description {
  border: none;
  padding: 20px;
  position: relative;
  margin: 0;
}

.feedback-form__description-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  display: block;
  align-self: center;
}

.feedback-form__description-input {
  border: none;
  background-color: #f2f2f2;
  width: 248px;
  min-height: 118px;
  padding: 16px;
  resize: none;
}

.feedback-form__description-input::placeholder {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
}

.feedback-form__button {
  min-width: 280px;
  height: 58px;
  background-color: #81b3d2;
  border: none;
  padding: 0;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
}

.feedback-form__required-field-text {
  align-self: end;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: rgba(51, 51, 51, 0.6);
  padding-right: 20px;
}

@media (min-width: 768px) {
  .feedback-form > fieldset {
    border: none;
  }

  .feedback-form {
    width: 768px;
    display: grid;
    row-gap: 48px;
    grid-template-columns: 324px 324px;
    grid-template-rows: 338px 162px 189px 320px;
    justify-content: center;
    padding: 0;
  }

  .feedback-form__introduce::after {
    position: absolute;
    top: 0;
    right: -43px;
    content: "";
    width: 1px;
    height: 338px;
    background-color: #dbdbdb;
  }

  .feedback-form__introduce {
    align-self: start;
    justify-self: start;
    padding: 0;
    margin: 0;
  }

  .feedback-form__introduce-legend {
    font-size: 21px;
    line-height: 26px;
  }

  .feedback-form__contacts {
    align-self: start;
    justify-self: end;
    padding: 0;
    margin: 0;
  }

  .feedback-form__contacts-legend {
    font-size: 21px;
    line-height: 26px;
  }

  .feedback-form__contacts-item:nth-child(1)::after {
    position: absolute;
    right: 0;
    content: "";
    width: 58px;
    height: 58px;
    background-color: #e6e6e6;
    background-image: url("../../img/phone-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .feedback-form__contacts-item:nth-child(2)::after {
    position: absolute;
    right: 0;
    content: "";
    width: 58px;
    height: 58px;
    background-color: #e6e6e6;
    background-image: url("../../img/mail-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .feedback-form__impression::before {
    position: absolute;
    left: 0;
    top: 12px;
    content: "";
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
  }

  .feedback-form__impression::after {
    position: absolute;
    right: 0;
    top: 12px;
    content: "";
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
  }

  .feedback-form__impression-legend {
    font-size: 21px;
    line-height: 26px;
    margin: 0 auto;
  }

  .feedback-form__impression {
    width: 576px;
    padding: 0 36px;
    grid-area: 2/1/3/3;
    display: grid;
  }
  .feedback-form__impression-list {
    display: grid;
    justify-self: center;
    align-self: center;
    grid-template-columns: 280px 280px;
    grid-template-rows: 48px 48px;
    gap: 16px;
  }

  .feedback-form__impression-item:not(:last-child) {
    margin-bottom: 0;
  }

  .feedback-form__attractions::before {
    position: absolute;
    left: 0;
    top: 12px;
    content: "";
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
  }

  .feedback-form__attractions::after {
    position: absolute;
    right: 0;
    top: 12px;
    content: "";
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
  }

  .feedback-form__attractions-legend {
    font-size: 21px;
    line-height: 26px;
    margin: 0 auto;
  }

  .feedback-form__attractions {
    width: 576px;
    padding: 0 36px;
    grid-area: 3/1/4/3;
    display: grid;
  }
  .feedback-form__attractions-list {
    display: grid;
    justify-self: center;
    align-self: center;
    grid-template-columns: 240px 240px;
    grid-template-rows: 46px 46px;
    row-gap: 16px;
  }

  .feedback-form__attractions-item:not(:last-child) {
    margin-bottom: 0;
  }

  .feedback-form__description::before {
    position: absolute;
    left: 0;
    top: 12px;
    content: "";
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
  }

  .feedback-form__description::after {
    position: absolute;
    right: 0;
    top: 12px;
    content: "";
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
  }

  .feedback-form__description-label {
    font-size: 21px;
    line-height: 26px;
    margin: 0 auto;
  }

  .feedback-form__description {
    grid-area: 4/1/5/3;
    align-self: start;
    justify-self: center;
    display: grid;
    padding: 0;
  }
  .feedback-form__description-input {
    width: 616px;
    height: 128px;
  }

  .feedback-form__button {
    grid-area: 4/1/5/2;
    align-self: end;
  }

  .feedback-form__required-field-text {
    grid-area: 4/2/5/3;
    align-self: end;
    justify-self: end;
  }
}
@media (min-width: 1200px) {
  .feedback-form {
    width: 960px;
    display: grid;
    row-gap: 56px;
    grid-template-columns: 494px 466px;
    grid-template-rows: 338px 134px 189px 320px;
    justify-content: center;
  }

  .feedback-form__introduce::after {
    position: absolute;
    top: 0;
    right: -63px;
    content: "";
    width: 1px;
    height: 338px;
    background-color: #dbdbdb;
  }

  .feedback-form__introduce {
    padding: 0;
    justify-self: start;
  }

  .feedback-form__introduce-input {
    width: 398px;
  }

  .feedback-form__contacts {
    padding: 0;
    justify-self: end;
  }

  .feedback-form__contacts-input {
    width: 370px;
  }

  .feedback-form__contacts-item:nth-child(1)::after {
    position: absolute;
    right: 0;
    content: "";
    width: 58px;
    height: 58px;
    background-color: #e6e6e6;
    background-image: url("../../img/phone-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .feedback-form__contacts-item:nth-child(2)::after {
    position: absolute;
    right: 0;
    content: "";
    width: 58px;
    height: 58px;
    background-color: #e6e6e6;
    background-image: url("../../img/mail-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .feedback-form__impression::before {
    position: absolute;
    left: 0;
    top: 12px;
    content: "";
    width: 280px;
    height: 1px;
    background-color: #dbdbdb;
  }

  .feedback-form__impression::after {
    position: absolute;
    right: 0;
    top: 12px;
    content: "";
    width: 280px;
    height: 1px;
    background-color: #dbdbdb;
  }

  .feedback-form__impression {
    display: grid;
    width: 960px;
    padding: 0;
  }
  .feedback-form__impression-list {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 80px;
    column-gap: 28px;
    align-items: center;
  }

  .feedback-form__attractions::before {
    position: absolute;
    left: 0;
    top: 12px;
    content: "";
    width: 280px;
    height: 1px;
    background-color: #dbdbdb;
  }

  .feedback-form__attractions::after {
    position: absolute;
    right: 0;
    top: 12px;
    content: "";
    width: 280px;
    height: 1px;
    background-color: #dbdbdb;
  }

  .feedback-form__attractions {
    width: 960px;
    display: grid;
    padding: 0;
  }
  .feedback-form__attractions-list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 108px;
    column-gap: 64px;
    justify-content: center;
    align-items: center;
  }

  .feedback-form__attractions-item:not(:last-child) {
    margin-bottom: 0;
  }

  .feedback-form__description::before {
    position: absolute;
    left: 0;
    top: 12px;
    content: "";
    width: 280px;
    height: 1px;
    background-color: #dbdbdb;
  }

  .feedback-form__description::after {
    position: absolute;
    right: 0;
    top: 12px;
    content: "";
    width: 280px;
    height: 1px;
    background-color: #dbdbdb;
  }

  .feedback-form__description {
    width: 960px;
    justify-content: center;
  }

  .feedback-form__description-input {
    width: 736px;
    height: 128px;
  }

  .feedback-form__button {
    margin-left: 96px;
    width: 384px;
  }

  .feedback-form__required-field-text {
    margin-right: 96px;
  }
}
.sent-form-window {
  width: 320px;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-color: #ffffff;
}

.sent-form-window__text-wrap {
  width: 244px;
  min-height: 147px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sent-form-window__title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.sent-form-window__text {
  text-align: center;
}

.sent-form-window__button-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  min-height: 98px;
  background-color: #f2f2f2;
}

.sent-form-window__button {
  width: 280px;
  min-height: 58px;
  background-color: #81b3d2;
  border: none;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
}

@media (min-width: 768px) {
  .sent-form-window {
    width: 640px;
    min-height: 347px;
  }

  .sent-form-window__text-wrap {
    width: 444px;
    min-width: 110px;
  }

  .sent-form-window__title {
    font-size: 30px;
    line-height: 26px;
  }

  .sent-form-window__button-wrap {
    width: 640px;
    min-height: 146px;
  }

  .sent-form-window__button {
    width: 458px;
    min-height: 58px;
  }
}
.error-form-window {
  width: 320px;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-color: #ffffff;
}

.error-form-window__text-wrap {
  width: 237px;
  min-height: 114px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 28px;
}

.error-form-window__title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
}

.error-form-window__text {
  text-align: center;
  margin: 0;
}

.error-form-window__button {
  width: 180px;
  min-height: 58px;
  background-color: #81b3d2;
  border: none;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 35px;
}

@media (min-width: 768px) {
  .error-form-window {
    width: 400px;
    min-height: 347px;
  }

  .error-form-window__text-wrap {
    width: 307px;
    min-height: 157px;
    margin-bottom: 52px;
  }

  .error-form-window__title {
    font-size: 30px;
    line-height: 40px;
    white-space: pre-line;
  }

  .error-form-window__button {
    width: 272px;
    margin-bottom: 49px;
  }
}
html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  background: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}

main {
  flex-grow: 1;
}
/*# sourceMappingURL=style.css.map */