@import "./variables.scss";
@import "./blocks/fonts.scss";
@import "./blocks/visually-hidden.scss";
@import "./blocks/page-header.scss";
@import "./blocks/welcome-images.scss";
@import "./blocks/page-advantages.scss";
@import "./blocks/section-main-booking.scss";
@import "./blocks/footer-developer-information.scss";
@import "./blocks/page-intro.scss";
@import "./blocks/footer.scss";
@import "./blocks/socials-list.scss";
@import "./blocks/catalog-photos.scss";
@import "./blocks/catalog-video.scss";
@import "./blocks/form-section.scss";
@import "./blocks/feedback-form.scss";
@import "./blocks/sent-form-window.scss";
@import "./blocks/error-form-window.scss";

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  background: #ffffff;

  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}

main {
  flex-grow: 1;
}
